li.carpeta {
    list-style-image: url('/assets/img/folder.svg');
    margin-left: 10px;
    margin-right: 1opx;
}

li.archivo {
    list-style-image: url('/assets/img/file-text.svg');
    margin-left: 10px;
    margin-right: 10px;
}

.btnw {
    width: 95%;
}

#cod3d, #console {
    height: 500px; 
    margin-top: 25px;
    font-size: 125%;
}

.ide{
    display: flex;
}

.file-tree{
    display: flex;
    overflow-x: auto;
    width: 15%;
    margin: 5px 5px 5px 5px;
    border: 3px solid #ccc;
    border-radius: 10px;
}

.editor{
    width: 80%;
    border: 3px solid #ccc;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
}